/* Title:  Final Sprint - Term 2
   Author: Noah Whiffen - SD12
   Dates:  December 5th, 2024 -  */ 

body {
  width: 80%;
  margin: auto;
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  height: 100vh;
  width: 80%;
  background-color: #F4d06f;
  border-radius: 15px;
  display: flex;
  text-align: center;
  align-items: flex-start;
  justify-content: center;
  margin: 30px auto;
  padding: 0;
}

.image-container {
  height: auto;
  max-height: 1000px;
  width: 50%;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 10px 50px;
  margin: 50px 30px;
  font-size: 24px;
  border-radius: 15px;

}

.productImage {
  width: 100%;
  max-width: 500px;
  height: 275px;
  max-height: 500px;
  padding-left: 70px;
}

.price-container {
  width: 50%;
  height: 300px;
  display: flex;
  flex-direction: column;
  background-color: #9dd9d2;
  font-size: 40px;
  padding: 10px;
  margin: 10px;
  align-items: center;
  margin: 50px 30px;
  border-radius: 15px;
}

.button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cartButton {
  background-color: #fc0000;
  border-radius: 50px;
  color: white;
  width: 230px;
  height: 68px;
  font-size: 24px;
  margin: 20px;
}

.shoppingBag {
  width: 30px;
  height: 30px;
  margin-right: 8px;
  vertical-align: middle;
}

.delivery-container {
  width: 95%;
  max-width: 1000px;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  background-color: #fff8f0;
  font-size: 24px;
  height: auto;
  margin-top: 50px;
  padding: 30px;
  border-radius: 15px;
}

span {
  color: #00ff00;
  padding-right: 5px;
  vertical-align: middle;
}

h2 {
  font-size: 32px;
  margin-bottom: 15px;
}

.radio-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  padding: 5px;
}

.radio-container input[type="radio"] {
  margin-right: 10px;
}

.dropdown {
  width: 80px;
  padding-left: 5px;
}